<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Something went wrong</title>
    <link rel="stylesheet" th:href="@{/webjars/govuk-frontend/4.8.0/govuk-frontend.min.css}"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
</head>

<body class="govuk-template__body">
<div th:replace="~{fragments/header :: header(navBar=null, signOutUrl=null, apiDocumentationLink=null)}"></div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l" data-cy="error-heading">Something went wrong</h1>
                <p class="govuk-body" data-cy="error-paragraph">Something went wrong while trying to complete your request.</p>
                <p class="govuk-body" data-cy="error-paragraph-with-link">
                    You can <a href="https://find-government-grants.service.gov.uk/" class="govuk-link govuk-link--no-visited-state" data-cy="error-back-link">return to
                    the service home page</a>.
                </p>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>