<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Api keys</title>
    <link rel="stylesheet" th:href="@{/webjars/govuk-frontend/4.5.0/govuk-frontend.min.css}" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
</head>

<body class="govuk-template__body">
<div th:replace="~{fragments/header :: header(${navBar})}"></div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l" data-cy="api-keys-heading">Manage API keys</h1>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" data-cy="api-keys-department">
                                Department
                            </dt>
                            <dd class="govuk-summary-list__value" th:text="${departmentName}" data-cy="api-keys-department-name">
                            </dd>
                        </div>
                    </dl>

                    <th:block th:if="${apiKeys.empty}">
                        <p class="govuk-body" data-cy="api-keys-no-api-keys">You don't have any API keys yet. When you create one, you will be able to see a list of your API keys and revoke access to them on this screen.</p>
                    </th:block>
                    </div>
                </div>
                <th:block th:if="${!apiKeys.empty}">
                    <dl class="govuk-summary-list" data-cy="create-key-summary-list">
                        <div class="govuk-summary-list__row" th:each="apiKey : ${apiKeys}">
                            <dt class="govuk-summary-list__key" th:text="${apiKey.name}" th:data-cy="${'api-key-name-' + apiKey.name}">
                            </dt>
                            <dd class="govuk-summary-list__value" th:text=" ${ 'Created ' + #temporals.format(apiKey.createdDate, 'd MMMM yyyy')}" th:data-cy="${'api-key-created-date-' + apiKey.name}">
                            </dd>
                            <dd th:if="${!apiKey.isRevoked}" class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" th:href="@{'/api-keys/revoke/' + ${apiKey.id}}" th:data-cy="${'api-key-revoke-' + apiKey.name}">
                                    Revoke<span class="govuk-visually-hidden"> API key</span>
                                </a>
                            </dd>
                            <dd th:if="${apiKey.isRevoked}" class="govuk-summary-list__value govuk-!-text-align-right govuk-hint" th:text=" ${'Revoked ' + #temporals.format(apiKey.revocationDate, 'd MMMM yyyy')}" th:data-cy="${'api-key-revoked-' + apiKey.name}">
                            </dd>
                        </div>
                    </dl>
                </th:block>

                <a th:href="@{/api-keys/create}" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-cy="api-keys-create-button">
                    Create an API key
                </a>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>