<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Api keys</title>

    <link rel="stylesheet" th:href="@{/webjars/govuk-frontend/4.5.0/govuk-frontend.min.css}" />
</head>

<body class="govuk-template__body">
<div th:replace="~{fragments/header :: header}"></div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">
                        Manage API keys
                    </h1>


                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Department
                            </dt>
<!--                            TODO: Replace with actual department from JWT-->
                            <dd class="govuk-summary-list__value">
                                Cabinet Office
                            </dd>
                        </div>
                    </dl>

                    <th:block th:if="${apiKeys.empty}">
                        <p class="govuk-body">You don't have any API keys yet. When you create one, you will be able to see a list of your API keys and revoke access to them on this screen.</p>
                    </th:block>
                    </div>
                </div>
                <th:block th:if="${!apiKeys.empty}">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row" th:each="apiKey : ${apiKeys}">
                            <dt class="govuk-summary-list__key" th:text="${apiKey.name}">
                            </dt>
                            <dd class="govuk-summary-list__value" th:text=" ${ 'Created ' + #temporals.format(apiKey.createdDate, 'd MMMM yyyy')}">
                            </dd>
                            <dd th:if="${!apiKey.isRevoked}" class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" th:href="@{'/api-keys/revoke/' + ${apiKey.id}}">
                                    Revoke<span class="govuk-visually-hidden"> API key</span>
                                </a>
                            </dd>
                            <dd th:if="${apiKey.isRevoked}" class="govuk-summary-list__value govuk-!-text-align-right govuk-hint" th:text=" ${'Revoked ' + #temporals.format(apiKey.revocationDate, 'd MMMM yyyy')}">
                            </dd>
                        </div>
                    </dl>
                </th:block>

                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Create an API key
                </button>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>