<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Revoke an API key</title>
    <link rel="stylesheet" th:href="@{/webjars/govuk-frontend/4.5.0/govuk-frontend.min.css}"/>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />
</head>

<body class="govuk-template__body">
<div th:replace="~{fragments/header :: header(navBar=${navBar}, signOutUrl=${signOutUrl}, apiDocumentationLink=${apiDocumentationLink})}"></div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form th:action="@{/api-keys/revoke}" th:object="${apiKey}" method="post" novalidate>
                    <h1 class="govuk-heading-l" data-cy="revoke-heading">Revoke an API key</h1>
                    <p class="govuk-body" data-cy="revoke-paragraph-1" >
                        If you revoke this API key, you will no longer be able to use it to request data from Find a
                        grant.
                    </p>
                    <p class="govuk-body" data-cy="revoke-paragraph-2">
                        You cannot re-enable a revoked API key. If you want to request data again, you will need to
                        create a new API key.
                    </p>
                    <input type="hidden" th:field="*{id}" data-cy="revoke-api-key-id">
                    <input type="hidden" th:field="*{name}">
                    <div class="govuk-button-group">
                        <button class="govuk-button govuk-button--warning" data-module="govuk-button" data-cy="revoke-revoke-button">Revoke key</button>
                        <a class="govuk-link govuk-link--no-visited-state" th:href="@{${backButtonUrl}}" data-cy="revoke-cancel-button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>